  <footer class="footer">
    <div class="footer-container">
      <div class="footer-bottom">
        <strong>&copy; <%= new Date().getFullYear() %>. Dikelola oleh <a href="https://restuproduction.com" target="_blank" rel="noopener noreferrer">Restu Production</a></strong>
      </div>
    </div>
  </footer>

<style>
.footer {
  background-color: #0066ff;
  color: #ffffff;
  padding: 0 0;
  margin-top: 5rem;
  transition: background-color 0.3s ease;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 3rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.footer-bottom {
  padding: 2rem 0;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.footer-bottom a{
  color: #fff5f5;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 0 1.5rem;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
</style>
